body{
			background-color: #eee;
		}
			.box {
				position: relative;
				border-radius: 3px;
				background: #ffffff;
				border-top: 3px solid rgba(158, 158, 158, 0.69);
				margin-bottom: 20px;
				margin-top: 20px;
				border-radius: 5px;
				min-height: 609px;
			}
			.box .box-body .text {
				min-height: 114px;
			}
			.label-back {
				background-color: #6C7B8B;
				color: white;
			}
			
			.label-back:hover {
				color: white !important;
			}
			.page-header {
				margin: 0px 0 10px;
			}
			.mar-top{
				margin-top: 20px;
				
			}
			.outside{
				margin-top: 20px;
				margin-left: 20px;
			}
			.right-me{
				margin-top: 8px;
			}
			.right-me a{
				color: black;
				text-decoration: none;
			}
			.form{
				margin-left: 20px;
				margin-right: 20px;
			}
			.reciver {
				position: relative;
				top: -27px;
				float: right;
				right: 4px;
				cursor: pointer;
			}
			#recive_list{
				background-color: #fff;
			}
			