.panel-heading {
				background-color: #eee;
			}
			
			.outside {
				border: 0px solid red;
				margin-top: 20px;
			}
			
			.container {
				border-radius: 5px;
				border: 0px solid black;
				border-top: 3px solid #3c8dbc;
				background-color: #FFFFFF;
				max-width: 800px;
			}
			
			.top .btn {
				display: inline-block;
				float: right;
				margin-top: 6px;
			}
			
			.top {
				margin: 5px;
			}
			
			.la {
				margin-top: 4px;
				font-size: 16px;
			}
			
			.page-header {
				margin: 0px 0 10px;
			}
			
			#MoreDiv {
				display: none;
				top: 5px;
			}
			
			.reciver {
				position: relative;
				top: -27px;
				float: right;
				right: 4px;
				cursor: pointer;
			}
			
			form {
				margin: 0;
			}
			
			textarea {
				display: block;
				font-size: 16px;
			}
			
			#ss .ke-container {
				border-radius: 5px;
				width: 770px;
			}
			
			.form-group .btn {
				background-color: #eee;
				width: 100px;
				height: 34px;
			}
			
			#ctl00_cphMain_fuAttachment {
				opacity: 0;
				position: relative;
				top: -22px;
			}
			
			.left1,
			.right1 {
				display: inline-block;
			}
			
			.right1 .btn-default,
			.left1 .btn-default {
				background-color: #eee;
			}
			
			.bottom1 {
				margin-bottom: 20px;
			}
			
			#ctl00_cphMain_txtMailTo {
				background-color: #fff;
			}